    <div class="ticket">
        <img src="https://yt3.ggpht.com/-3BKTe8YFlbA/AAAAAAAAAAI/AAAAAAAAAAA/ad0jqQ4IkGE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="Logotipo">
        <p class="centrado">TICKET DE VENTA
            <br>New New York
            <br>17/10/2017 02:22 a.m.</p>
        <table>
            <thead>
                <tr>
                    <th class="cantidad">CANT</th>
                    <th class="producto">PRODUCTO</th>
                    <th class="precio">$$</th>
                </tr>
            </thead>
            <tbody *ngIf="data">
                <tr *ngFor="let product of data">
                    <td class="cantidad">{{product.product_name}}</td>
                    <td class="producto">{{product.product_price}}</td>
                    <td class="precio">{{product.product_id}}</td>
                </tr>
            </tbody>
        </table>
        <p class="centrado">¡GRACIAS POR SU COMPRA!
            <br>parzibyte.me</p>
             <button class="oculto-impresion">Imprimir</button>
    </div>
   