    <div class="ticket" align = "center">
        <img src="assets/svg/asl-logo.svg" alt="Logotipo">
        <p class="centrado">TICKET DE VENTA
            <br>ASL
            <br>{{data['sale_date']}}</p>
        <table>
            <thead>
                <tr>
                    <th class="producto">Producto</th>
                    <th class="cantidad">Cantidad</th>
                    <th class="precio">$</th>
                </tr>
            </thead>
            <tbody *ngIf="data">
                <tr *ngFor="let product of productos">
                    <td class="producto">{{product.product_name}}</td>
                    <td class="cantidad">{{product.sale_product['quantity']}}</td>
                    <td class="precio">{{product.product_price*product.sale_product['quantity']}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total: </td>
                    <b><td>{{data['sale_total']}}</td></b>
                </tr>
                    
            </tbody>
        </table>
        <p class="centrado">¡GRACIAS POR SU COMPRA!
            <br></p>
             <button class="oculto-impresion" onclick="window.print()">Imprimir</button>
    </div>
   <script>
       function imprimir() {
            window.print();
        }
   </script>