<div class="main-container">
    <div class="title">
        <span>Administra tu negocio con</span>
        <br>
        <h2>ASL</h2>
    </div>
    <div class="cards-container">
        <div class="card" id="card1">
            <div class="card-img"></div>
            <div class="description">
                <span>ASL convierte la tarea de administración de inventarios en un acción sencilla y rapida.</span>
                <br> <br>
                <span> Con la funcionalidad de maneja de inventarios y el control de las salidas y entradas de
                    mercancía, mantendras tu negocio bien organizado</span>
                <br> <br>
                <span>También la funcionalidad de inventarios cuenta con un sistema de detección de pocas y muchas
                    existencias que te indica cuales son lso productos que debes surtir para abastecer tu
                    negocio</span>
            </div>
        </div>
        <div class="card" id="card2">
            <div class="card-img"></div>
            <div class="description">
                <span>Realizar ventas diariamente es una de las tareas más recurrentes de un negocio de abarrotes y
                    tiendas de la esquina.
                </span>
                <br><br>
                <span>Por esto ASL pone su disposición la opción de realizar ventas a través del sistema y guardar
                    un registro de todas ellas sin necesidad de comprar electronicos como lectores de barras.</span>
                <br><br>
                <span>De esta misma manera ASL guarda información importante de las compras como el precio de venta
                    de los productos, sus detalles, la fecha y el total de las compras.</span>
            </div>
        </div>
        <div class="card" id="card3">
            <div class="card-img"></div>
            <div class="description">
                <span>ASL guarda un historial de todas las ventas realizadas a través del sistema y no solo
                    eso.</span>
                <br><br>
                <span>
                    Esta aplicación pone a su disposición un sistema de reportes y análisis de datos automáticos
                    para que pueda observar como se comportan las ganancias y las salidas de su negocio y pueda
                    incrementar su utilidad.</span>
                <br><br>
                <span>Estos reportes generados pueden ser guardados en formato PDF por lo que llevar un control de
                    documentación para auditoría será una tarea rapida y organizada.</span>
            </div>
        </div>
    </div>
</div>
<div class="background">
</div>