<div class="main-container">
    <h1>Herramientas para desarrolladores</h1>
    <div class="band">
        <a class="tools" href="https://github.com/OrbitalCardinal/ASL-PI" target="_blank">
            <img src="../../assets/imgs/github_logo.png" width="100px">
            <div class="name">Github</div>
            <div class="description-container">
                <div class="description">
                    <b>Github</b>
                    <p>Github es un portal creado para alojar el código de las aplicaciones de cualquier desarrollador,
                        y que
                        fue comprada por Microsoft en junio del 2018. La plataforma está creada para que los
                        desarrolladores
                        suban el código de sus aplicaciones y herramientas, y que como usuario no sólo puedas
                        descargarte la
                        aplicación, sino también entrar a su perfil para leer sobre ella o colaborar con su desarrollo.
                    </p>
                </div>
            </div>

        </a>
        <a class="tools" href="https://www.figma.com/file/gvIzbD0560iBLjrvV1CZ6u/PI-I?node-id=142%3A2" target="_blank">
            <img src="../../assets/imgs/figma_logo.png" width="60px">
            <div class="name">Figma</div>
            <div class="description-container">
                <div class="description">
                    <b>Figma</b>
                    <p>Figma es un programa que ofrece todas las herramientas necesarias para diseñar un proyecto. Sobre
                        todo es ideal para crear interfaces de usuario tanto para web como para móvil. También permite
                        crear prototipos, generar código para el traspaso (hand-off) e ilustrar, aunque para esto último
                        no es la mejor herramienta para ello.
                    </p>
                </div>
            </div>
        </a>
        <a class="tools"
            href="https://docs.google.com/document/d/1tNUxqQq4st9SJClzJeOp7iu_lmTKzQDHrgxp5dAa9ck/edit?usp=sharing"
            target="_blank">
            <img src="../../assets/imgs/drive_logo.png" width="100px">
            <div class="name">Drive</div>
            <div class="description-container">
                <div class="description">
                    <b>Drive</b>
                    <p>Google Drive es el servicio de almacenamiento de datos en internet que provee Google en su
                        versión gratuita e incluye una capacidad de almacenamiento 15 GB.
                        Este servicio funciona como un paquete de Office pero online, permite
                        crear carpetas para almacenar y subir archivos de cualquier tipo. Producir y modificar
                        documentos en línea en diferentes formatos de procesador de textos, hojas de calculo, pdf,
                        editor de diapositivas.
                    </p>
                </div>
            </div>
        </a>
        <a class="tools" href="https://code.visualstudio.com/" target="_blank">
            <img src="../../assets/imgs/vscode_logo.png" width="100px">
            <div class="name">VS Code</div>
            <div class="description-container">
                <div class="description">
                    <b>Visual Studio Code</b>
                    <p>Visual Studio Code es un editor de código fuente desarrollado por Microsoft para Windows, Linux y
                        macOS. Incluye soporte para la depuración, control integrado de Git, resaltado de sintaxis,
                        finalización inteligente de código, fragmentos y refactorización de código
                    </p>
                </div>
            </div>
        </a>
        <a class="tools" id="tools5" href="https://angular.io/" target="_blank">
            <img src="../../assets/imgs/amgular_logo.png" width="100px">
            <div class="name">Angular</div>
            <div class="description-container">
                <div class="description">
                    <b>Angular</b>
                    <p>Angular es un framework para aplicaciones web desarrollado en TypeScript, de código abierto,
                        mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página.
                    </p>
                </div>
            </div>
        </a>
    </div>
    <h1>Herramientas para usuarios</h1>
    <div class="band">
        <a class="tools" href="https://slack.com/intl/es-mx/" target="_blank">
            <img src="../../assets/imgs/slack_logo.png" width="90px">
            <div class="name">Slack</div>
            <div class="description-container">
                <div class="description">
                    <b>Slack</b>
                    <p>Slack es una aplicación de mensajería para empresas que conecta a las personas con la información
                        que necesitan. Slack transforma la manera en que se comunican las organizaciones reuniendo a las
                        personas para que trabajen como un equipo unificado.
                    </p>
                </div>
            </div>

        </a>
        <a class="tools" href="https://www.microsoft.com/es-mx/microsoft-teams/group-chat-software" target="_blank">
            <img src="../../assets/imgs/teams_logo.png" width="90px">
            <div class="name">Teams</div>
            <div class="description-container">
                <div class="description">
                    <b>Microsoft Teams</b>
                    <p>Microsoft Teams es una plataforma unificada de comunicación y colaboración que combina chat
                        persistente en el lugar de trabajo, reuniones de video, almacenamiento de archivos e integración
                        de aplicaciones.
                    </p>
                </div>
            </div>
        </a>
        <a class="tools" href="https://trello.com/es/home" target="_blank">
            <img src="../../assets/imgs/trello_logo.png" width="150px">
            <div class="name">Trello</div>
            <div class="description-container">
                <div class="description">
                    <b>Trello</b>
                    <p>Trello es una aplicación basada en el método Kanban y sirve para gestionar tareas permitiendo
                        organizar el trabajo en grupo de forma colaborativa mediante tableros virtuales compuestos de
                        listas de tareas en forma de columnas.
                        Es perfecta para la gestión de proyectos ya que se pueden representar distintos estados y
                        compartirlas con diferentes persona que formen el proyecto.
                    </p>
                </div>
            </div>
        </a>
        <a class="tools" href="https://asana.com/es" target="_blank">
            <img src="../../assets/imgs//asana_logo.png" width="90px">
            <div class="name">Asana</div>
            <div class="description-container">
                <div class="description">
                    <b>Asana</b>
                    <p>Asana es una herramienta que permite gestionar el flujo de trabajo (tareas y proyectos)
                        ofreciendo el detalle de inicio y culminación de cada una de estas, así mismo conecta a todo el
                        equipo de trabajo permitiendo la comunicación, organización y planificación para llevar a feliz
                        término los proyectos en cuestión.
                    </p>
                </div>
            </div>
        </a>
        <a class="tools" id="tools5" href="https://calendar.google.com/" target="_blank">
            <img src="../../assets/imgs/calendar_logo.png" width="140px">
            <div class="name">Google Calendar</div>
            <div class="description-container">
                <div class="description">
                    <b>Google Calendar</b>
                    <p>Google Calendar es un calendario online que ofrece Google gratuitamente a sus usuarios y que
                        combina agenda, calendario electrónico, creador de eventos y otras funciones que nos facilita
                        mejorar la productividad y compartirlos con nuestros contactos.
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="background"></div>