<div class="margin">
    <div class="main-container">
        <div class="left-container">
            <div class="message">
                <h1>¡Gracias por utilizar ASL!</h1>
                <span>Si tienes algún comentario o duda, contactanos para ayudar.</span>
                <span>Rellena este formulario y nosotros nos pondremos en contacto los más pronto posible.</span>
            </div>
            <img src="../../assets/imgs/computer.png">
        </div>
        <div class="right-container">
            <div class="card">
                <div class="form">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Nombre completo</mat-label>
                        <input matInput placeholder="Jhon Doe">
                        <mat-icon matPrefix style="color: #888888;">person</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Correo eléctronico</mat-label>
                        <input matInput placeholder="example@example.com">
                        <mat-icon matPrefix style="color: #888888;">email</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Motivo</mat-label>
                        <input matInput placeholder="example@example.com">
                        <mat-icon matPrefix style="color: #888888;">bug_report</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Preguntas o comentarios</mat-label>
                        <textarea matInput placeholder="Ejemplo: Tal página no funciona"
                            style="resize: none;"></textarea>
                    </mat-form-field>

                    <br>
                    <button mat-raised-button color="primary">Enviar formulario de contacto</button>
                    <br> <br>
                    <p>Al presionar el botón de enviar usted esta de acuerdo en establecer la comunicación con el equipo
                        como se describe en nuestra politica de privacidad</p>
                </div>
            </div>

        </div>
    </div>
</div>